// 网站样式配置
@import "mixins";

$mainColor:#0199ff;
$subColor:#91d7fe;
$color : #333;

$fontFamily : 微软雅黑, Microsoft YaHei, Verdana, Arial, Helvetica, sans-serif;
$fontSize : vw(16);
$lineHeight : 1.125;
$font : $fontSize/$lineHeight $fontFamily;
