@import 'config';
@import "animate/animate";

* {
    -webkit-box-sizing          : border-box;
    -moz-box-sizing             : border-box;
    box-sizing                  : border-box;
    -webkit-tap-highlight-color : transparent;
}

*.animated {
    animation-duration : .3s;
}

.list-none {
    margin     : 0 auto;
    padding    : 0;
    list-style : none;
}

.text-left {
    text-align : left;
}

.text-center {
    text-align : center;
}

.text-right {
    text-align : right;
}

.pull-left {
    float : left;
}

.pull-right {
    float : right;
}

.dis-table {
    display : table;
    &.ver-mid {
        > .dis-tab-cell {
            vertical-align : middle;
        }
    }
    &.ver-top {
        > .dis-tab-cell {
            vertical-align : top;
        }
    }
    &.ver-bot {
        > .dis-tab-cell {
            vertical-align : bottom;
        }
    }
}

.ver-mid {
    vertical-align : middle;
}

.ver-top {
    vertical-align : top;
}

.dis-tab-header-group {
    display : table-header-group;
}

.dis-tab-group {
    display : table-row-group;
}

.dis-tab-row {
    display : table-row;
}

.dis-tab-cell {
    display : table-cell;
}

// 点击元素，添加点击透明效果
.click-element {
    cursor : pointer;
    &:active {
        opacity : .6;
    }
}

/* 禁止鼠标选中文本 */
.noselect {
    -webkit-touch-callout : none; /* iOS Safari */
    -webkit-user-select   : none; /* Chrome/Safari/Opera */
    -khtml-user-select    : none; /* Konqueror */
    -moz-user-select      : none; /* Firefox */
    -ms-user-select       : none; /* Internet Explorer/Edge */
    user-select           : none;
}

// 页面穿透
.nopointer {
    pointer-events : none;
}

.clearfix {
    &:before, &:after {
        display : table;
        content : " ";
    }
    &:after {
        clear : both;
    }
}
